*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

:root{
    --primary-color:chartreuse;
    --secondary-color:pink;
    --dark-color:#333;
    --light-color:#fff;
    --bg-image: url('../img/mainpic.jpg')

}
.clr{
  clear:both;
}

body {
    font-family: 'Merienda', cursive;
    line-height: 1.6;
    background: #fff;
  }
  
  a {
    text-decoration: none;
    color: var(--dark-color);
  }
  
  ul {
    list-style: none;
    cursor: pointer;
  
  }
  
  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }
  
  img {
    width: 100%;
  }
  .bg-light{
    color: pink;
  }
  .btn-dark{
    padding:1rem ;
    margin: 1rem;
    background:var(--dark-color);
    border-radius: 5%;
    color:#fff;
    
    
  }
  
  .btn-light{
    padding:1rem ;
    margin: 1rem;
    background:var(--secondary-color);
    border-radius: 10%;
    color:#fff;
    
    
  }
  .index{
    position: fixed;
    top:0px;
    z-index:2;
  }
  
/*logo
#logo {
    width: 70px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
  }*/

  /*main-nav*/
  nav {
    position:sticky;
    top: 0;
    z-index: 1;
  }
 
#index #main-nav {
  display:flex;
  position:sticky;
  top:0;
  background:#333;
  color:#fff;
  justify-content:space-between;
  z-index:1;
  padding:1rem;
}

#main-nav ul{
  display:flex;
  align-items:center;
  list-style:none;

}
#main-nav ul li a{
  color:#fff;
  padding:0.75rem;
  margin :0 0.25rem;
}
  



#index #main-nav ul li a:hover{
  background:var(--secondary-color);
  color:#fff;
  border-radius: 10px;
}
.bucket{
  background:var(--bg-image) no-repeat center center/cover;
  height:100vh;
  color:#000;
  
  

}

.header-content {
  text-align: center;
  padding-top: 20%;}

 .header-content h1 {
    font-size: 3rem;
    line-height: 1.2;
  }

  .lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  #about{
    display: block;
    line-height: 2rem;
    font-family: 'Merienda', cursive;
  
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 5rem;
  }
   .btn-dark:hover{
    background-color: var(--secondary-color);
  }
  
  

  /*work*/
  .lead {
    font-size: 1.3rem;
    margin-bottom: 5rem;
  text-align:center; }

  .section-title {
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase; }
  
  .bottom-line {
    height: 2px;
    width: 3rem;
    background: pink;
    display: block;
    margin: 0 auto 1rem auto; }
  .items {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }
  
  .item {
    position: relative;
    background: #ffffff;
    overflow: hidden; }
    .item::after {
      content: '';
      position: absolute;
      display: block;
      background: inherit;
      opacity: 0.9;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
      transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
    .item:hover:after {
      transform: scale(2) translateX(0) translateY(0) rotate(-28deg); }
    .item:hover .item-image {
      transform: scale(1.2); }
    .item:hover .item-text {
      opacity: 1;
      transform: translateY(0); }
    .item-image {
      height: auto;
      transform: translateZ(0);
      display: block;
      transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1); }
    .item-image:before {
      content: '';
      display: block;
      padding-top: 75%;
      overflow: hidden; }
    .item-image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      line-height: 0; }
    .item-text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      text-align: center;
      z-index: 1;
      color: #000000;
      transform: translateY(-20%);
      transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
      transition-delay: 300ms; }
    .item-text-wrap {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%); }
    .item-text-title {
      font-size: 2rem;
      padding: 0 1rem;
      margin: 5px 0 0 0; }
    .item-text-category {
      text-transform: uppercase;
      font-size: 1.2rem;
      opacity: 0.7;
      margin: 0; }
      body {
        font-family: 'Dosis', sans-serif;
        line-height: 1.6;
        background: #fff; }
      
      a {
        text-decoration: none;
        color: #333; }
      
      ul {
        list-style: none; }
      
      h2,
      h3,
      h4 {
        text-transform: uppercase; }
      
      img {
        width: 100%; }
      
      #logo {
        width: 70px;
        height: 70px;
        color: #fff;
        text-transform: uppercase; }
        .clr{
          clear: both;
        }

        /* Footer*/
#main-footer {
  background: var(--dark-color);
  color: #fff;
  height: 5rem;
}

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

      #main-footer .social i:hover {
        background: coral;
      
    }

    /*skills*/
    #skill{
      
  
    display: block;
    line-height: 2rem;
    font-family: 'Merienda', cursive;
  
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 5rem;
  
    }

    .columnSection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      height: 60vh;
  }
  
  .skillContent{
      width: 25%;
      min-width: 121px;
      height: 25%;
      transition: all 0.5s;}

      .skillContent i{
          font-size: 4rem;
          margin: auto auto;
      
  }
  
  .skillName {
      margin-bottom: 50%;
  }
  
@media (max-width: 855px){
  .columnSection{
      width: 90%;
      margin: 5% auto;
  }
}

@media (max-width: 645px){
  .columnSection{
      width: 80%;
  }
  .creativity{
      height: 60vh;
      margin-bottom: 20%;
  }
}

@media(max-width: 450px){
  .creativityInner h2{
      font-size: 50px;
  }
  .skillContent h5{
      font-size: 18px;
  }
}

@media(max-width: 400px){
  .creativityInner h2{
      font-size: 45px;
      line-height: 70px;
  }
}

@media(max-width: 380px){
  .creativityInner h2{
      font-size: 35px;
      line-height: 50px;
  }
}
  
  



        @media (max-width: 800px) {
      
           .header-content {
              padding-top: 10rem;
              margin-top:5rem;
             }
          .header-content h1{
            padding-top: 10px;
            font-size:25px;
          }
        .header-content .lead{
          font-size:20px;
        } }
        #work  .items {
          grid-template-columns: 1fr;
         }
         
        
        @media (max-width: 500px) {
          #main-nav {
            flex-direction: column;
            align-items: center; }
            #main-nav li {
              padding: 5px; }
              #work{
                margin-top:10rem;
              }
              #work  .items {
                grid-template-columns: 1fr;
               }
          #about{
            margin-bottom:7px;
            font-size:8px;
          }
          #about-c {
            display: none; }
          #contact-a .text-fields {
            grid-template-areas: 'name' 'subject' 'email' 'phone' 'message'; }
          #contact-b div {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px #555 solid; }
            #contact-b div:last-child {
              border: none;
              margin-bottom: 0;
              padding-bottom: 0; }
          #contact-c h1 {
            font-size: 2rem; }
            #main-footer {
              font-size:10px;
              margin-bottom:0rem;
              height: 7rem; }
              #main-footer .footer-content {
                flex-direction: column;
                padding: 1rem;
                height: 5rem; } }
  
        @media (max-height: 580px) {
           .header-content {
            padding-top: 3rem; } }
        
        @media (max-height: 330px) {
           .header-content h1 {
            padding-top:20px;
            font-size: 5px; }}
          
  

        

  